page-intro {

    h1.intro_title{
        color: black;
        font-style: bold;
        font-family: Arial;
        background: aquamarine;
    }

    .slide_image img{
        width: 240px;
    }

}
